{% extends "rdv/base.html" %}
{% load tags %}

{% block content %}
    <hgroup>
        <h1 class="animated fadeInDown"> Entrevue </h1>
        <h4 class="animated fadeInDown"> tu viens ? </h4>
    </hgroup>

    <section>
        <h1>Proposer & partager</h1>

        <form action="{% url 'index' %}" method="post" id="rdvForm">
            {% csrf_token %}
            {% for field in form %}
                <div class="input-group {% if field.errors %}warning{% endif %}">
                    <label for="{{ field.name }}">{{ field.label }}{% if field.errors %} ({% for error in field.errors %}{{ error }}{% if forloop.counter != field.errors|length %}/{% endif %}{% endfor %}){% endif %}</label>
                    {{ field }}
                </div>
            {% endfor %}

            <input class="validate" type="submit" value="Créer le rendez-vous"/>
        </form>
    </section>

   <script>
        $(document).ready(function () {
            $('#id_proposed_date_0').pickadate({
                close: 'Fermer',
                formatSubmit: 'yyyy-mm-dd',
                hiddenName: true
            });
            $('#id_proposed_date_1').pickatime({
                editable: true,
                formatSubmit: 'H:i',
                format: 'H:i',
                hiddenName: true
            });
            $('#rdvForm').on('submit', function() {
                $(this).submit();
            });
        });


    </script>
{% endblock %}
