{% extends "rdv/base.html" %}

{% block content %}

{% load isinstance %}
    <hgroup class="not-home">
        <h4 class="animated fadeInDown">Hey, tu viens ? </h4>
    </hgroup>

{% for prev in previous_rdv %}
    <p> {{ prev.email_creator }} t'a invité le {{ prev.proposed_date }} à {{ prev.place }}.
    ÉTAT: 
    {% if prev.answer|isYes %}
        ACCEPTÉ
    {% elif prev.answer|isNo %}
        REFUSÉ
    {% else %}
        AUTRE PROPOSITION FAITE
    {% endif %}
    par {{ prev.answer.answerer }}
    </p>
{% endfor %}

    <section>
        <h1> Ton rendez-vous ! </h1>

        <p>
            {{ rdv.email_creator }} t'a invité le {{ rdv.proposed_date }} à {{ rdv.place }}.
        </p>
        <p>
            {% if rdv.answer|isYes %}Tu as répondu <em>oui</em> !{% elif rdv.answer|isNo %}Tu as répondu <em>non</em> :({% else %}Tu n'as pas encore répondu.{% endif %}
        </p>

        {% if rdv.answer|isYes or rdv.answer|isNo %}
            Tu peux modifier ta réponse ci-dessous.
        {% endif %}
            <form action="{% url 'answer' %}" method="get" id="answerForm">
                {% csrf_token %}
                <input type="hidden" name="rdvid" value="{{ rdv.id }}" />
                <input type="hidden" name="ynanswer" id="ynanswer" value="" />
                <input class="yes validate" type="button" value="Accepter"><!--
                --><input class="no validate" type="button" value="Refuser">
            </form>

        <h1><a href="#" class="js-repropose">Proposer une autre date</a></h1>
        <article class="repropose">
            <form action="{% url 'repropose' %}" method="get" id="rdvForm">
                {% csrf_token %}
                <input type="hidden" name="rdvid" value="{{ rdvid }}">
                {% for field in form %}
                    <div class="input-group {% if field.errors %}warning{% endif %}">
                        <label for="{{ field.name }}">{{ field.label }}{% if field.errors %} ({% for error in field.errors %}{{ error }}{% if forloop.counter != field.errors|length %}/{% endif %}{% endfor %}){% endif %}</label>
                        {{ field }}
                    </div>
                {% endfor %}

                <input class="validate" type="submit" value="Proposer la nouvelle date"/>
            </form>
        </article>
    </section>

   <script>
        $(document).ready(function () {
            $('#id_proposed_date_0').pickadate({
                close: 'Fermer',
                formatSubmit: 'yyyy-mm-dd'
            });
            $('#id_proposed_date_1').pickatime({
                editable: true,
                formatSubmit: 'H:i',
                format: 'H:i'
            });
            $('#rdvForm').on('submit', function() {
                $(this).submit();
            });
            $(".yes", "#answerForm").click(function(e) {
                $("#ynanswer").val("y");
                $("#answerForm").submit();
            });
            $(".no", "#answerForm").click(function(e) {
                $("#ynanswer").val("n");
                $("#answerForm").submit();
            });
            $('.js-repropose').on('click', function() {
                $('.repropose').toggleClass('active');
            });
        });
    </script>
{% endblock %}






