{% extends "rdv/base.html" %}
{% load isinstance %}

{% block content %}
    <a class="backlink animated fadeIn" href="{% url 'index' %}" title="Proposer un rdv"><span class="glyphicon glyphicon-home"> </span></a>
    <hgroup class="not-home">
        <h4 class="animated fadeInDown">Hey, tu viens ? </h4>
    </hgroup>

    <section>
        <h1>
            {% if rdv.title != None and rdv.title != "" %}
               {{ rdv.title }}
            {% else %}
                Ton rendez-vous !
            {% endif %}
        </h1>

        {% for prev in previous_rdv %}
            <p>
                {% if prev.proposer == None or prev.proposer == "" %}
                    Un rendez-vous a été proposé le {{ prev.proposed_date }}{% if prev.place != "" %} à {{ prev.place }}{% endif %}.
                {% else %}
                    {{ prev.proposer }} a proposé un rendez-vous le {{ prev.proposed_date }}{% if prev.place != "" %} à {{ prev.place }}{% endif %}.
                {% endif %}
            </p>
        {% endfor%}

        <p class="last_prop">
            {% if rdv.proposer == None or rdv.proposer == "" %}
                Un rendez-vous a été proposé le {{ rdv.proposed_date }}{% if rdv.place != "" %} à {{ rdv.place }}{% endif %}.
            {% else %}
                {{ rdv.proposer }} a proposé un rendez-vous le {{ rdv.proposed_date }}{% if rdv.place != "" %} à {{ rdv.place }} {% endif %}.
            {% endif %}
        </p>
        <p class="definitive_ans {% if rdv.answer|isYes %}yes{% elif rdv.answer|isNo %}no{% endif %}">
            {% if rdv.answer|isYes %}
                {% if rdv.answer.answerer == None or rdv.answer.answerer == "" %}
                    Le rendez-vous a été accepté.
                {% else %}
                    {{ rdv.answer.answerer }} a accepté le rendez-vous.
                {% endif %}
            {% elif rdv.answer|isNo %}
                {% if rdv.answer.answerer == None or rdv.answer.answerer == "" %}
                    Le rendez-vous a été décliné.
                {% else %}
                    {{ rdv.answer.answerer }} a décliné le rendez-vous.
                {% endif %}
            {% endif %}
        </p>

        {% if not rdv.answer|isYes and not rdv.answer|isNo %}
            <form action="{% url 'answer' %}" method="get" id="answerForm">
                {% csrf_token %}
                <div class="input-group answerer">
                    <input id="id_answerer" maxlength="256" name="answerer" placeholder="Qui répond ?" type="text">
                </div>
                <input type="hidden" name="rdvid" value="{{ rdv.id }}" />
                <input type="hidden" name="ynanswer" id="ynanswer" value="" />
                <input class="yes validate" type="button" value="Accepter"><!--
                --><input class="no validate" type="button" value="Refuser">
            </form>

            <h2 id="or_repropose">ou</h2>
            <input class="validate js-repropose" type="button" value="Proposer une nouvelle date"/>
        <article class="repropose">
            <form action="{% url 'repropose' %}" method="POST" id="rdvForm">
                {% csrf_token %}
                <input type="hidden" name="rdvid" value="{{ rdvid }}">
                {% for field in form %}
                    <div class="input-group {% if field.errors %}warning{% endif %}">
                        <label for="{{ field.name }}">{{ field.label }}{% if field.errors %} ({% for error in field.errors %}{{ error }}{% if forloop.counter != field.errors|length %}/{% endif %}{% endfor %}){% endif %}</label>
                        {{ field }}
                    </div>
                {% endfor %}

                <input class="validate" type="submit" value="Proposer la nouvelle date"/>
            </form>
        {% endif %}
        </article>
    </section>

   <script>
        $(document).ready(function () {
            $('#id_proposed_date_0').pickadate({
                close: 'Fermer',
                formatSubmit: 'yyyy-mm-dd',
                hiddenName: true
            });
            $('#id_proposed_date_1').pickatime({
                editable: true,
                formatSubmit: 'H:i',
                format: 'H:i',
                hiddenName: true
            });
            $('#rdvForm').on('submit', function() {
                $(this).submit();
            });
            $(".yes", "#answerForm").click(function(e) {
                $("#ynanswer").val("y");
                $("#answerForm").submit();
            });
            $(".no", "#answerForm").click(function(e) {
                $("#ynanswer").val("n");
                $("#answerForm").submit();
            });
            $('.js-repropose').on('click', function() {
                $('.repropose').toggleClass('active animated fadeInUp');
                $( this ).toggleClass('hidden');
                setTimeout(function() {
                    $('.repropose').toggleClass('animated fadeInUp');
                }, 1000);
            });
        });
    </script>
{% endblock %}






