@import "colors";
@import "fonts";

body, html {
    padding: 0;
    margin: 0;
    background-color: $clouds;
    height: 100%;
    font-family: 'Roboto';
    color: $wet-asphalt;
}

a {
    color: $wet-asphalt;
}

hgroup {
    margin: 0;
    height: 220px;
    background-color: $peter-river;
    text-align: center;
    border-bottom: 15px $wet-asphalt solid;

    h1, h2, h3, h4, h5, h6 {
        margin-top: 0px;
    }

    h1 {
        font-family: 'Roboto', sans-serif;
        padding-top: 30px;
        font-size: 6em;
        font-weight: 300;
        text-transform: uppercase;
        color: $clouds;
    }

    h4 {
        font-family: 'Wild Script';
        font-size: 2.5em;
        font-weight: normal;
        color: $wet-asphalt;
    }

    &.not-home {
        height: 100px;

        h4 {
            padding-top: 20px;
        }
    }
}

section {
    width: 100%;
    max-width: 960px;
    margin: 50px auto;
    padding: 0 50px;

    h1 {
        font-family: 'Roboto';
        font-size: 3em;
        color: $wet-asphalt;
        margin-bottom: 30px;
        font-weight: 100;
    }
}

.input-group {
    display: block;
    margin: 20px 0;
    color: $wet-asphalt;

    &.warning {
        color: $alizarin;
    }

    label {
        display: block;
        font-family: 'Roboto';
        font-size: 1em;
        font-weight: normal;
        margin-bottom: -2px;
    }

    input {
        display: block;
        width: 100%;
        height: 50px;
        font-size: 2em;
        padding: 10px 10px;
        color: $alizarin;
        font-family: 'Roboto';
        font-weight: 100;
        outline: none;
        border: 2px solid #ddd;
        margin-bottom: 10px;

        &:focus {
            border: 2px solid $alizarin;
        }

        -webkit-transition: border 0.5s ease;
           -moz-transition: border 0.5s ease;
            -ms-transition: border 0.5s ease;
             -o-transition: border 0.5s ease;
                transition: border 0.5s ease;
    }
}

.validate {
    background-color: transparent;
    border: 2px solid $wet-asphalt;
    display: block;
    height: 40px;
    margin: 0 auto;
    padding: 0 30px;
    font-family: 'Roboto';
    font-size: 1.5em;
    color: $wet-asphalt;
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: 300;

    &:hover {
        background-color: $peter-river;
        color: $clouds;
    }

    -webkit-transition: color 0.5s ease;
       -moz-transition: color 0.5s ease;
        -ms-transition: color 0.5s ease;
         -o-transition: color 0.5s ease;
            transition: color 0.5s ease;
}

#answerForm {
    margin-top: 50px;
    margin-bottom: 50px;

    .answerer {
        width: 96%;
        margin-left: 2%;
    }

    input[type=button] {
        display: inline-block;
        width: 47%;
        margin-left: 2%;
        margin-top: 10px;

        & + input[type=button] {
            margin-right: 2%;
        }

        &.yes {
            background-color: $nephritis;
            color: #fff;

            &:hover {
                background-color: $emerald;
                color: $clouds;
            }
        }

        &.no {
            background-color: $pomegranate;
            color: $clouds;

            &:hover {
                background-color: $alizarin;
                color: $clouds;
            }
        }
    }
}

#or_repropose {
    text-align: center;
    text-decoration: underline;
}


.repropose, .propose, .presentation {
    display: none;

    &.active {
        display: block;
    }
}

.last_prop {
    font-size: 1.5em;
}

.definitive_ans {

    font-weight: bold;
    font-size: 1.5em;

    &.yes {
        color: $nephritis;
    }

    &.no {
        color: $pomegranate;
    }
}

.backlink {
    position: absolute;
    top: 54px;
    left: 6px;
    font-size: 2em;
}

.hidden {
    display: none;
}

.presentation {
    .iconography {
        margin: auto;
        margin-bottom: 50px;
        text-align: center;
    
        .legend {
            height: 50px;
        }

        .icon {
            height: 100px;
            font-size: 3em;
            
            td {
                width: 100px;
    
                .circle {
                    width: 100%;
                    line-height: 94px;
                    border-style: solid;
                    border-width: 3px;
                    border-radius: 50%;
            
                    &:hover {
                        background-color: $sun-flower;
                        cursor: pointer;
                    }

                }
            }
        }
    }

    .fa-long-arrow-down {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 6em;
        text-align: center;
    }

    .create-rdv {
        margin-top: 70px;
        margin-bottom: 50px;
    }
}
