@import "colors";
@import "fonts";

body, html {
    padding: 0;
    margin: 0;
    background-color: $clouds;
    height: 100%;
}

hgroup {
    margin: 0;
    height: 220px;
    background-color: $peter-river;
    text-align: center;
    border-bottom: 15px $wet-asphalt solid;

    h1, h2, h3, h4, h5, h6 {
        margin-top: 0px;
    }
}


h1 {
    font-family: 'Open Sans', sans-serif;
    padding-top: 30px;
    font-size: 6em;
    font-weight: 300;
    text-transform: uppercase;
    color: $clouds;
}

h4 {
    font-family: 'Wild Script';
    font-size: 2.5em;
    font-weight: normal;
    color: $wet-asphalt;
}